.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    background-color: rgba(0, 0, 0, 0.65);
    position: fixed;
}

.overlay:target {
    display: block;
}

.popup {
    font-family: 'Roboto', sans-serif;;
    font-size: 62.5%;
    top: -100%;
    right: 0;
    left: 50%;
    font-size: 12px;
    z-index: 20;
    margin: 0;
    width: 80%;
    min-width: 320px;
    max-width: 600px;
    position: fixed;
    padding: 15px;
    border: 1px solid #383838;
    background: #fefefe;
    border-radius: 4px;
    box-shadow: 0 15px 20px rgba(0,0,0,.22),0 19px 60px rgba(0,0,0,.3);
    transform: translate(-50%, -500%);
    transition: transform 0.6s ease-out;
}

.overlay:target+.popup {
    transform: translate(-50%, 0);
    top: 20%;
}

input {
    font-size: 1.4rem;
    display: block;
    width:30em;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
    padding: 12px 27px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
    border: none;
}

.input_submit {
    text-transform: uppercase;
    background-color: #16A6AF;
    color: #FFFFFF;
    font-weight: 500;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24), 0px 0px 3px rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    transition-property: background-color;
    transition-duration: .5s;
    transition-timing-function: ease;
}

.input_submit:hover,
.input_submit:focus{
     background-color: #EEEAF1;
     outline: none;
 }

.input_submit:active {
     position: relative;
     top: 2px;
     box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
 }

div.conf-step__movie{
    cursor: move;
    position: absolute;
    z-index: 1;
}
div.conf-step__movie.moving{
    pointer-events: none;
}