<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ИдёмВКино</title>
    <link rel="stylesheet" href="css_style/normalize.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet">
</head>

<body>
<header class="page-header">
    <h1 class="page-header__title">Идём<span class="page-header__title_span">в</span>кино</h1>
</header>

<main>
    <section class="ticket">
        <div class="tichet__check">
            <h2>Авторизация</h2><br/><br/>
            <form class="ticket__info-wrapper" method="post" action="" enctype="multipart/form-data">
                <input class="input" type="text" placeholder="Логин" name="login">
                <input class="input" type="password"  placeholder="Пароль" name="password"><br/>
                <input class="input_submit" type="submit" name="inp" value="Вход">
            </form>
        </div>
    </section>
</main>

</body>
</html>